table{
    background-color: beige;

  
}



th{
  width: 30px;
  height: 30px;
}

.modal {
  position: absolute;
  width: max-content;
    top: 10%;
  right: 2%;
  height: max-content;
  background: #7e59bdce;
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 99999;
  padding: 24px;
}

.day{
  cursor: pointer;
}
