<div class="calendar-conatiner" *ngIf="!agenda" >
  <div class="open-modal-calendar"> <mat-icon (click)="openCalendar()">calendar_month</mat-icon></div>
  <div class=" modal" *ngIf="calendarIsOpen">
    <button mat-icon-button color="accent" (click)="prevMonth()"><mat-icon>arrow_back_ios</mat-icon></button>
    <table [style]="{'background-color': stileComponente?.colore}">
      <thead>
        <tr>
          <th colspan="7">{{ monthNames[currentMonth] }} {{ currentYear }}</th>
        </tr>
        <tr>
          <th *ngFor="let day of dayNames">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week">
            <div class="day" [class.other-month]="day.month !== currentMonth"
              (click)="isDateSelectable(day) && selectDate(day)"
              [ngClass]="{'selected': isDateSelected(day), 'disabled': !isDateSelectable(day)}">
              {{ day.day !== 0 ? day.day : '' }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button mat-icon-button color="accent" (click)="nextMonth()"> <mat-icon>arrow_forward_ios</mat-icon> </button>
    <button mat-raised-button color="primary" (click)="closeCalendar()">Chiudi</button>
  </div>


</div>

<div  class="agenda" *ngIf="agenda">
  <div class="header-agenda"> 
  <button mat-flat-button color="accent" (click)="prevMonth()"><mat-icon>arrow_back_ios</mat-icon></button>
  <h2 class="h2-agenda"> Agenda Personale: </h2>
  <button mat-flat-button color="accent" (click)="nextMonth()"> <mat-icon>arrow_forward_ios</mat-icon> </button>
</div>
  <div class="calendar-home">   
    <table [style]="{'background-color': stileComponente?.colore}" class="calendar-home-table">
      <thead>
        <tr>
          <th colspan="7">{{ monthNames[currentMonth] }} {{ currentYear }}</th>
        </tr>
        <tr>
          <th *ngFor="let day of dayNames">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week">
            
            <div class="day" [class.other-month]="day.month !== currentMonth"
              (click)="isDateSelectable(day) && selectDate(day)"
              [ngClass]="{'selected': isDateSelected(day), 'disabled': !isDateSelectable(day)}">
             
              <span class="note-present"> <mat-icon class="note-present" *ngIf="day.note">note</mat-icon> </span>
              <span class="spacer"></span>
              {{ day.day !== 0 ? day.day : '' }}
              <span class="spacer"></span>
            </div>
          </td>

        </tr>
      </tbody>
    </table>   
  </div>
</div>