
<div class="calendar-conatiner">
  <div class="open-modal-calendar">  <mat-icon (click)="openCalendar()">calendar_month</mat-icon></div>
<div class=" modal" *ngIf="calendarIsOpen">
  <button mat-icon-button color="accent" (click)="prevMonth()"><mat-icon>arrow_back_ios</mat-icon></button>
  <table>
    <thead>
      <tr>
        <th colspan="7">{{ monthNames[currentMonth] }} {{ currentYear }}</th>
      </tr>
      <tr>
        <th *ngFor="let day of dayNames">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week">
          <div class="day" [class.other-month]="day.month !== currentMonth"
             (click)="selectDate(day)" [ngClass]="{'selected': isDateSelected(day)}">
          {{ day.day !== 0 ? day.day : '' }}
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-icon-button color="accent" (click)="nextMonth()"> <mat-icon>arrow_forward_ios</mat-icon> </button>
  <button mat-raised-button color="primary" (click)="closeCalendar()">Chiudi</button>
</div>


</div>