table {
  background: #7e59bda6;
  padding: 16px;
  color: white;

}



th {
  width: 30px;
  height: 30px;
}

.modal {
  position: absolute;
  width: max-content;
  top: 10%;
  right: 2%;
  height: max-content;
  background: #7e59bdce;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999;
  padding: 24px;
}

.day:hover {
  background-color: white;
  color: black;
}

.day {
  text-align: center;
  cursor: pointer;
}

.day:active {
  background-color: rgb(255, 213, 0);
}

.day.selected {
  outline: 4px double rgba(28, 110, 164, 0.31);
  background-color: orange;
}

.calendar-conatiner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.open-modal-calendar {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  margin-top: 20px;
  cursor: pointer;
}

.open-modal-calendar button {
  align-self: center;
}

.day.disabled {
  color: #696969;
  background-color: #ccc;
  pointer-events: none;
}

@media(max-width:800px){
  .modal{
    flex-direction: column;
    font-size: smaller;
    background-color: rgb(66 25 137);
    right: 0;
    width: auto;
    z-index: 99999;
  }

  table{
    font-size: small;
  }
  
}