// .mail-row-element:nth-child(even) {
//     background-color: #ffffff;
//   }
  
//   .mail-row-element:nth-child(odd) {
//     background-color: #b5b5b5;
//   }

  
.mail-row-element {
    display: flex;
    margin-bottom: 16px;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
  }

  .from-email {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }

  input{
    width: 50%;
    height: 32px;
  }

  .input-container{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  .header-folder-viewer{
    background-color: rgb(119, 111, 132);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  
  }

  
.folder-name{
  text-transform: capitalize;
  
  
  text-align: right;
  color:white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  padding-right: 24px;
  

  
}

.delete-btn{
  cursor: pointer;
}
.delete-btn:hover{
  color: crimson;
}

.contacts-wrapper{
  margin-left: 24px;
  margin-top: 24px;
  width: 80%;

}

.mail-row-element:hover{
  background-color: rgb(201, 161, 253);
}
  