.example-spacer {
    flex: 1 1 auto;
  }

  .title{
    padding-left: 16px;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
  }
  
  .icon-mail:hover{
    color: #ffd740;
  }z

  .icon-mail{
    transform: rotateX(180deg);
    cursor: pointer;
  }
  