.example-spacer {
    flex: 1 1 auto;
  }
  .container-head{
    width: 100%;
    display: flex;
  }

  .title{
    padding-left: 16px;
    font-family: 'Satisfy', cursive;
    font-size: 72px;
  }
  
  .icon-mail:hover{
    color: #ffd740;
  }

  .icon-mail{
    transform: rotateX(180deg);
    cursor: pointer;
  }

  .date-picker-cnt{
    
    height: 100%;
    display: flex;
    align-items: first baseline;
  }

  .container-head{
   justify-content: space-around;
    align-items: center;
  }

  @media(max-width:800px){
    .container-head{
      flex-direction: column;
      align-items: center;
    }

    .title{
      padding-left: 0;
      font-size: 24px;
    }

   
  }
