<div class="actions-container">

    <button mat-mini-fab color="accent" (click)="reply()">
        <mat-icon>reply</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="inolter()">
        <mat-icon>forward</mat-icon>
    </button>
    <button (click)="addToFavorite()" mat-raised-button color="primary">
        {{ favoriteButtonLabel }}
      </button>
    <button (click)="markAsImportant()" mat-raised-button color="primary">
      {{importantButtonLabel}}
    </button>

</div>