<div class="actions-container">

    <button mat-mini-fab color="accent" (click)="reply()">
        <mat-icon>reply</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="inolter()">
        <mat-icon>forward</mat-icon>
    </button>
    <button (click)="addToFavorite()" mat-raised-button >
        {{ favoriteButtonLabel }}
      </button>
    <button (click)="markAsImportant()" mat-raised-button color="accent">
      {{importantButtonLabel}}
    </button>
    <!-- <button (click)="deleteMail()" mat-raised-button color="accent">
      Elimina Mail
    </button> -->

</div>