button{
    margin: 16px;
}

.preview-message{
    font-family: 'Montserrat Alternates', sans-serif;
}


.action-button{
    display: flex;
    gap: 24px;
  
    background-color: #7d59bd;
   padding-left: 16px;
    align-items: center;
    height: 56px;
}


.msg-view-container{
    
    display: flex;
    flex-direction: column;
    
}

.email-content{
    width: 85%;
    padding: 24px;
    
}

.email-from{
    cursor: pointer;
}
.email-from:hover{
    color: orangered;
    font-size: larger;
    font-weight: bold;
}

.body-text{
    width: 60%;
    text-align: justify;
}