button{
    margin: 16px;
}

.preview-message{
    font-family: 'Montserrat Alternates', sans-serif;
}

.action-button{
    display: flex;
    
    align-items: center;
}

app-message-actions{
    margin-bottom: 24px;
}