<div class="container">
  <div class="header-folder-viewer">

    <div class="spacer"></div>
    <h2 class="folder-name">Cartella <span class="folder-name-bold"> {{folderName}} </span> </h2>
  </div>
  <div class="number-emails">
    <p>Email nella cartella {{folderName}}:{{emails.length}}</p>
   
  </div>
  <div class="update">
    <!-- <mat-icon (click)="handleClick(folderName!)">update</mat-icon> -->
    
    <button *ngIf="folderName === 'inbox'" (click)="deleteSelectedEmails()" class="delete-btn" mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
  </div>
  <ul class="color-even">
    
    
   


    <ng-container *ngIf="!searchTerm; else searchResultsTemplate">
      <div *ngFor="let email of originalEmails" class="mail-row-element">
        <input *ngIf="folderName === 'inbox'" type="checkbox" [(ngModel)]="email.selected" class="mail-checkbox">
        <div class="email-details">
          <span>
            <div class="read-indicator" [ngClass]="{'unread': !email.read, 'read': email.read}"></div>{{email.read?
            'Letta':'Da Leggere'}} {{email.folderName? email.folderName : 'inBox'}}
          </span>

          <span class="from-email" (click)="selectedMail(email.id)">
            <i class="material-icons"*ngIf="email.isFavourite">favorite</i> 
            <i class="material-icons"*ngIf="email.important">star</i> 
            {{ folderName === 'sent' ? email.to : email.from
            }}</span>
       
          <span class="second-row" (click)="selectedMail(email.id)">Oggetto: <a>{{ email.subject }}</a></span>
        </div>
        <span class="spacer"></span>
      </div>
    </ng-container>

    <ng-template #searchResultsTemplate>
      <div *ngFor="let email of searchResults">
       <!-- <pre> {{searchResults$ | json}}</pre> -->
        <div class="email-details">
          <i class="material-icons" *ngIf="email.isFavourite">favorite</i>
          <span>{{email.folderName? email.folderName : 'inBox'}}</span>
          <div class="read-indicator" [ngClass]="{'unread': !email.read, 'read': email.read}"></div>
          <span (click)="selectedMail(email.id)" class="from-email">{{ folderName === 'sent' ? email.to : email.from
            }}</span>
          <br>
          <span class="second-row">Oggetto: <a>{{ email.subject }}</a></span> <br>
        </div>
      </div>
    </ng-template>
  </ul>
</div>