<div class="container"> 
  <ul>
    <ng-container *ngIf="!searchTerm; else searchResultsTemplate">
      <div *ngFor="let email of originalEmails" (click)="selectedMail(email.id)">
        <span>{{email.folderName}}</span>
        <span class="from-email">{{ email.from }}</span>
        <br>
        <span class="second-row">Oggetto: <a>{{ email.subject }}</a></span> <br>
        <span class="body-row">{{email.body}}</span>
      </div>
    </ng-container>

    <ng-template #searchResultsTemplate>
      <div *ngFor="let email of searchResults" (click)="selectedMail(email.id)">
        <span>{{email.folderName}}</span>
        <span class="from-email">{{ email.from }}</span>
        <br>
        <span class="second-row">Oggetto: <a>{{ email.subject }}</a></span> <br>
        <span class="body-row">{{email.body}}</span>
      </div>
    </ng-template>
  </ul>
</div>
