li{
    list-style: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: white;
}

ul mat-icon{
  color: white !important;
}

ul mat-icon:hover{
  color: black !important;
}


  li:hover{
    color: black;
  }