<div class="newmail-btn">
    <button mat-raised-button color="accent" routerLink="editor">
      <mat-icon>add</mat-icon>
    </button>
  </div>
<ul>
    <li class="list-element" (click)="contacts()"><mat-icon>person</mat-icon> <span > Rubrica</span></li>
</ul>
<ul>
    <li (click)="toggleFolderTree()" class="list-element">
        <mat-icon>folder</mat-icon> <span > Tutte le Cartelle</span>
    </li>
    <li *ngIf="showFolderTree">
        <ul>
            <li class="list-element" (click)="changeFolder('inbox')"><mat-icon>inbox</mat-icon> <span > In Arrivo</span>
            </li>
            <li class="list-element" (click)="changeFolder('sent')"><mat-icon>send</mat-icon> <span > Inviate</span></li>
            <li class="list-element" (click)="changeFolder('favorite')"><mat-icon>favorite</mat-icon> <span>
                    Preferiti</span></li>
            <li class="list-element" (click)="changeFolder('important')"><mat-icon>star</mat-icon> <span>
                    Importanti</span></li>
            <li class="list-element" (click)="changeFolder('trash')"><mat-icon>delete</mat-icon> <span > Cestino</span>
            </li>
            <li class="list-element" (click)="changeFolder('bozze')"><mat-icon>edit_document</mat-icon> <span>
                    Bozze</span>
            </li>
            <li class="list-element" (click)="changeFolder('outgoing')"><mat-icon>outgoing_mail</mat-icon> <span>
                   In Uscita</span>
            </li>
        </ul>
    </li>
</ul>