li{
    list-style: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: white;
    padding: 0;
}

ul{
  padding-left: 40px;
}

ul mat-icon{
  color: white !important;
}

ul mat-icon:hover{
  color: black !important;
}


  li:hover{
    color: black;
  }

  mat-icon {
    color: white;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px !important;
  
  }

  .newmail-btn {
    display: flex;
   
    align-items: center;
    
    padding-left: 40px;
    height: 64px;
    
    background-color: #7d59bd;
  }

  @media (max-width: 800px) {
    .icon-label {
      display: none;
    }
  }

 
 
  
  

 