<ul>
    <li (click)="contacts()"><mat-icon>person</mat-icon> <span *ngIf="!shouldShowIcons()"> Rubrica</span></li>
</ul>

<ul>
    <li (click)="toggleFolderTree()">
        <mat-icon>folder</mat-icon> <span *ngIf="!shouldShowIcons()"> Tutte le Cartelle</span>
    </li> 
    <li *ngIf="showFolderTree">
        <ul>
            <li  (click)="changeFolder('all')"><mat-icon alt="tutte le mail">mail</mat-icon><span *ngIf="!shouldShowIcons()"> Tutte le mail</span> </li>
            <li (click)="changeFolder('inbox')"><mat-icon>inbox</mat-icon> <span *ngIf="!shouldShowIcons()"> In Arrivo</span></li>
            <li (click)="changeFolder('sent')"><mat-icon>send</mat-icon> <span *ngIf="!shouldShowIcons()"> Inviate</span></li>
            <li (click)="changeFolder('favorite')"><mat-icon>favorite</mat-icon> <span *ngIf="!shouldShowIcons()"> Preferiti</span></li>
            <li (click)="changeFolder('important')"><mat-icon>star</mat-icon> <span *ngIf="!shouldShowIcons()"> Importanti</span></li>
            <li (click)="changeFolder('trash')"><mat-icon>delete</mat-icon> <span *ngIf="!shouldShowIcons()"> Cestino</span></li>
        </ul>
    </li>
</ul>


