.container {
    width:100%;
    height: 100%;
    margin: 0;
    
  }

  aside {
    float: left;
   background-color: rgb(119, 111, 132);
   width: 15%;
    height: 100vh;
    
}

aside mat-icon{
  color: white;
}

.mail-wrapper{
  height: 100%;
 display: flex;
 flex-direction: column;
}