<div class="search-bar" #elementoRicerca>
  <div class="input-container">
    <form [formGroup]="formGroup">

      <app-date-picker formControlName="selectedDate" [disableDatesAfterToday]="disableDatesAfterToday"> </app-date-picker>
    </form>
    <div class="bar-and-btn">
      <input type="text" [(ngModel)]="searchTerm" placeholder="{{ formGroup.value.selectedDate | date: 'dd/MM/yyyy' }}"
        title="ciao" />
      <div *ngIf="searchTerm" class="recent-searches">
        <ul>
          <li *ngFor="let search of filterSearchTerms(searchTerm)" (click)="insertInInput(search)">
            <span>{{ search }}</span>
          </li>
        </ul>
      </div>
      <button (click)="onSearch()">Cerca</button>
    </div>
  </div>
  <div class="checkbox-container">
    <div class="checkbox-mock">
      <label for="useMockApi">Ricerca sul Server</label>
      <input type="checkbox" id="useMockApi" [(ngModel)]="useMockApi" />
    </div>
    <div class="checkbox-date">
      <input type="checkbox" id="search-by-date" [(ngModel)]="searchByDate" />
      <label for="search-by-date">Ricerca per data</label>
    </div>
  </div>
</div>