<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-folder-list (folderSelected)="onFolderSelected($event)"></app-folder-list>
  </mat-drawer>
  <mat-drawer-content>
    
    <app-message-list [messageSelected]="selectedMails" (messageSelectedOut)="onMessageSelected($event)"></app-message-list>
    <app-message-viewer [selectedMessage]="selectedMail" (favoriteEmail)="onFavoriteEmailSelected($event)"></app-message-viewer>

  </mat-drawer-content>

<!-- <button mat-button (click)="openDialogForNewMail()">Nuova Mail</button> -->
<app-compose (sentMail)="saveSentMail($event)"></app-compose>
</mat-drawer-container>