.container {
    width:100%;
    height: 100%;
    margin: 0;
    
  }

  aside {
    float: left;
   background-color: rgb(166, 110, 255);
   width: 15%;
    height: 100vh;
    
}

aside mat-icon{
  color: white;
}

.mail-wrapper{
  height: 100%;
 display: flex;
 flex-direction: column;
}

.header-main{
  background-color: rgb(166, 110, 255);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-container button{
  height: 34px;
  width: 44px;
  border: none;
  background-color: rgb(247, 231, 5);
  border-radius: 0 10px 10px 0;

}

.search-container input{
  width: 240px;
  height: 32px;
  border-radius: 10px 0 0 10px;
  border: none;
  padding-left: 8px;
  outline: none;
}

.search-container{
  margin-right: 16px;
}

app-message-viewer{
  padding: 24px;
  overflow-y: scroll;
}

app-message-list{
  border-bottom: 4px solid #673ab7;
  height: 300px;
  overflow-y: scroll;
}

.newmail-btn{
  margin: 40px;
  display: flex;  
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 24px;
  gap: 8px;
  color: white;
}

.newmail-btn:hover{
  color: black;
}

.newmail-btn mat-icon:hover{
  color: black;
}

h2{
  background-color: rgb(166, 110, 255);
  color: white;
  font-size: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
}


