.container {
    width:100%;
    height: 100%;
    margin: 0;
    
  }



.mail-wrapper{
  height: 100%;
 display: flex;
 flex-direction: column;
}

.header-main{
  background-color: rgb(119, 111, 132);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



app-message-viewer{
  padding: 24px;
  overflow-y: scroll;
}

app-message-list{
  border-bottom: 4px solid #673ab7;
  height: 300px;
  resize:vertical;
  overflow-y: auto;
  min-height: 200px;
  max-height: 500px;
}

.newmail-btn{
  margin: 40px;
  display: flex;  
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 24px;
  gap: 8px;
  color: white;
}

.newmail-btn:hover{
  color: black;
}



h2{
  background-color: rgb(119, 111, 132);
  color: white;
  font-size: 40px;
  height: 56px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
}


