li:hover {
    background-color: rgb(255, 237, 137);
    cursor: pointer;
  }
  
  li {
    margin-bottom: 16px;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  li.no-bold {
    font-weight: normal;
  }

  li:checked{
    background-color: orange;
  }
  
  span {
    margin-right: 8px;
  }
  
  .from-email {
    font-weight: bold;
    font-size: 16px;
    padding-left: 8px;
  }
  
  .second-row{
    padding-left: 28px;
    text-decoration: underline;
  }

  .body-row{
    padding-left: 28px;
    font-size: 12px;

  }

  .material-icons{font-size: 12px;}
 

  .button-container{
    width: 100%;
    background-color: rgb(254, 236, 135);
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    padding: 24px;
  }

  .is-valid{
    background-color: rgb(254, 236, 135);
  }