<div class="list-container" *ngIf="messageSelected">
  
  <ul>

    <li *ngFor="let email of messageSelected" (click)="viewMessage(email)" [ngClass]="{'is-valid': !!email.selected}">
      <input type="checkbox" [(ngModel)]="email.selected">
      <span>{{email.folderName}}</span>
      <span class="from-email">{{ email.from }}</span>
      <br>
      <span class="second-row">Oggetto: <a>{{ email.subject }}</a></span> <br>
      <span class="body-row">{{email.body}}</span>
    </li>
  </ul>
</div>