@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');


html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: hidden;
}

.x[ng-click] {
  cursor: pointer;
}

app-folder-viewer {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 80%;
  z-index: 0;
}

.material-icons[_ngcontent-ng-c1240783271] {
  font-size: 24px !important;
}

app-message-viewer {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 80%;
  z-index: 0;

}

aside,
app-header {
  position: fixed;
  z-index: 9;
}

app-header {
  width: 100%;
  left: 0;
  height: 20%;
  top: 0;

}

mat-toolbar {
  height: 100% !important;
}

aside {
  top: 20%;
}

app-contacts {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 80%;
  z-index: 9;
  background-color: white;
  height: 100vh;
}

.mat-body {
  font-size: 12px;
}

app-search {
  position: relative;
  z-index: 99999 !important;
  height: 100%;
  display: flex;
  
}

.mat-mdc-form-field-subscript-wrapper {
  display: unset !important;
}





td{
  border: 1px solid rgb(255, 255, 255);
  margin: 0;
}



.mat-mdc-select-value-text{
  color: white;
  margin-left: 20px;
}

.mat-mdc-select-arrow {
  fill: white;

}

mat-select{
  width: 10%!important;
  margin-right: 80px !important;
}

