@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');


html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: hidden;
}

.x[ng-click] {
  cursor: pointer;
}

app-folder-viewer {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 85%;
  z-index: 0;
}

.material-icons[_ngcontent-ng-c1240783271] {
  font-size: 24px !important;
}

app-message-viewer {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 85%;
  z-index: 0;

}

aside,
app-header {
  position: fixed;
  z-index: 9;
}

app-header {
  width: 100%;
  left: 0;
  height: 20%;
  top: 0;

}

mat-toolbar {
  height: 100% !important;
}

aside {
  top: 20%;
}

app-contacts {
  position: fixed;
  top: 20%;
  left: 15%;
  width: 85%;
  z-index: 9;
  background-color: white;
  height: 100vh;
}

.mat-body {
  font-size: 12px;
}

app-search {
  position: relative;
  z-index: 99999 !important;
  height: 100%;
  display: flex;
  
}

.mat-mdc-form-field-subscript-wrapper {
  display: unset !important;
}





td{
  border: 1px solid rgb(255, 255, 255);
  margin: 0;
}



.mat-mdc-select-value-text{
  color: white;
  margin-left: 20px;
}

.mat-mdc-select {
  width: unset!important;
}

.mat-mdc-select-arrow {
  fill: white;

}

mat-select{
  
  margin-right: 80px !important;
}


@media(max-width:800px){

  mat-select{
    width: 50%!important;
    margin-right: 80px !important;
  }
  app-folder-viewer {
    left: 8%;
    width: 100%;
   
   
   }
   
   app-contacts{
    left: 8%;
     width: 100%;
   }
   
   app-message-viewer{
    left: 8%;
     width: 100%;
   }

   mat-select{
    width: unset!important;
    margin-right: 0 !important;
  }

  .cdk-overlay-pane{
    width: 50% !important;
    left: 32px;
  }

  mat-toolbar{
    padding: 0 !important;
  }

  #cdk-overlay-2{
    left: 50px !important;
  }
}
