
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');


html, body { height: 100%; 
width: 100%; }
body { margin: 0; 
    font-family: 'Montserrat Alternates', sans-serif;
}

.x[ng-click]{
    cursor: pointer;
}

app-folder-viewer{
  position: absolute;
  width: 80%
 
}

.material-icons[_ngcontent-ng-c1240783271]{
  font-size: 24px !important;
}

app-message-viewer{
  position: absolute;
  left: 20%;
  width: 100%;
  
}

app-contacts{
  position: absolute;
  left: 20%;
  width: 100%;

}