.button-container{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: start;
    
}


button{
    background-color: #ffd740;
    width: 100px;
    border: none;
    border-radius: 20px;
    height: 40px;
    
    
}