form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

mat-form-field,
mat-label {
  font-size: 14px;
}

.modal {
  position: absolute;
  width: 60%;
  height: 80%;
  right: 0;
  bottom: 0;
  height: max-content;
  background: #7e59bdce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  padding: 24px;
}

.modal h1 {
  margin-bottom: 20px;
}

.mat-autocomplete-panel {
  z-index: 999;
}

.custom-modal .cdk-overlay-container {
  pointer-events: none;
}

.custom-modal .cdk-overlay-pane {
  pointer-events: auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

input.ng-valid {
  border-bottom: 2px solid #42A948; 
}

input.ng-invalid.ng-touched{
  border-bottom: 2px solid #a94442; 
}

.modal button {
  margin-top: 20px;
}

.subject-input{
  margin-bottom: 24px;
}

small{
  color: red;
}
app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-date-picker{
 
  display: block;
   z-index: 99999;
  
 
}

@media(max-width:800px){

  .modal{
    width: 100%;
    bottom:15%;
    background: #7e59bd;
  }

  .compose-datepicker .modal{
    width: 100%;
    background-color: #42A948;
  }

  
}