<div class="modal">
  <h1>{{ isComposeMode ? 'Nuova Mail' : 'Rispondi alla Mail' }}</h1>
  <form [formGroup]="newMailForm" (ngSubmit)="onSubmit()">
   
    
    <mat-form-field appearance="fill">
      <mat-label>Destinatario</mat-label>
      <input matInput formControlName="to" type="email" required />
      <mat-error *ngIf="newMailForm.get('to')?.hasError('required')">Il destinatario è obbligatorio</mat-error>
      <mat-error *ngIf="newMailForm.get('to')?.hasError('email')">Indirizzo email non valido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Oggetto</mat-label>
      <input matInput formControlName="subject" required />
      <mat-error *ngIf="newMailForm.get('subject')?.hasError('required')">L'oggetto è obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Messaggio</mat-label>
      <textarea matInput formControlName="body"></textarea>
      
    </mat-form-field>
    <ng-container *ngIf="!isComposeMode">
      <mat-form-field appearance="fill">
        <mat-label>Allega Messaggio Originale</mat-label>
        <input matInput formControlName="originalMessageAttachment" />
      </mat-form-field>
    </ng-container>
    <button mat-raised-button color="primary" type="submit" [disabled]="newMailForm.invalid">
      Invia Mail
    </button>
    <button mat-button (click)="closeModal()">Chiudi</button>

  </form>
</div>