<div class="modal">
  <h1>{{ isComposeMode ? 'Nuova Mail' : 'Rispondi alla Mail' }}</h1>
  <form [formGroup]="newMailForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Destinatario</mat-label>
      <mat-chip-grid #chipGrid aria-label="Selezione dei destinatari">
        <mat-chip-row *ngFor="let contact of selectedRecipients" [removable]="true" (removed)="remove(contact)">
          {{ contact.email }} <button matChipRemove aria-label="'remove ' + contact.email">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input formControlName="to" matInput placeholder="Inserisci un destinatario" #contactsInput
        [matAutocomplete]="auto" [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" required/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let contact of (sortedOptions$ | async)" [value]="contact">
          <mat-icon *ngIf="contact.isFavorite">favorite</mat-icon> {{ contact.email }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="newMailForm.get('to')?.hasError('required')">Il destinatario è obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Oggetto</mat-label>
      <input matInput formControlName="subject" required minlength="4"/>
      <mat-error *ngIf="newMailForm.get('subject')?.hasError('required')">L'oggetto è obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Messaggio</mat-label>
      <textarea matInput formControlName="body"></textarea>
      <mat-error *ngIf="newMailForm.get('selectDate')?.hasError('required')">La data non può essere precedente ad oggi</mat-error>
      <input matInput placeholder="Seleziona una data"
        [value]="newMailForm.get('selectedDate')?.value | date: 'dd/MM/yyyy'" readonly required >
    </mat-form-field>
    <div class="button-container">
      <app-date-picker formControlName="selectedDate">
      </app-date-picker>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="newMailForm.invalid">
        Invia Mail
      </button>
    </div>
  </form>
  <button mat-button (click)="closeModal()">Chiudi</button>
</div>

<!-- <app-loading *ngIf="isLoading"></app-loading> -->