form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

mat-form-field,
mat-label {
  font-size: 14px;
}

.modal {
  position: absolute;
  width: 60%;
  height: 80%;
  right: 0;
  bottom: 0;
  height: max-content;
  background: #7e59bdce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  padding: 24px;
}

.modal h1 {
  margin-bottom: 20px;
}

.mat-autocomplete-panel {
  z-index: 999;
}

.custom-modal .cdk-overlay-container {
  pointer-events: none;
}

.custom-modal .cdk-overlay-pane {
  pointer-events: auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 1px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-bottom: 1px solid #a94442; /* red */
}

.modal button {
  margin-top: 20px;
}


app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-date-picker{
 
  display: block;
   z-index: 99999;
  
 
}