 form{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  mat-form-field, mat-label{
       font-size: 14px;
  }

  .modal {
      
    position: absolute;  
     width: 60%;
     height: 80%;
     right: 0;
     bottom: 0;
     height:max-content;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     z-index: 999;
     padding: 24px;
   }
   
   
   .modal h2 {
     margin-bottom: 20px;
   }

   .mat-autocomplete-panel {
    z-index: 9999; 
  }
  
   